@CHARSET "ISO-8859-1";

body{
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	background: #6A93B8;
}

h1{
	margin: 0px;
	padding: 0px;
	font-size: 45px;
	text-align: center;

}

header{
	background: #eeeeee;
	margin: 0px;
	padding: 10px 0px;
}


#container{
	max-width: 960px;
	min-width: 480px;
	padding: 0px;
	margin: 0px auto;
	text-align:center;
	background: white;
	min-height: 600px;
	overflow: hidden;
}

#container div.wrap{
	width:70%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

div.imgtext{
	width:45%;
	padding: 10px;
	margin: 0 auto;
	margin-top: 20px;
	clear: both;
}

div.imgtext img{
	width:75%;
	height:75%;
}

#container div.imgtext p{
	text-align: left;
}

.register-form{
	text-align: center;
	padding: 1%;
	background: #eee;
	border: solid 1px #acacac;
	margin: 1%;
	width: 96%;
}

.register-form label{
	display: block;
	margin: 0 0 5px;
	text-align: left;
}
	
.register-form p{
	text-align: center;
	clear: both;
}

.left-side,
.right-side {
	float: left;
	display: inline-block;
	margin: 0 2.5%;
	margin-bottom: 10px;
	width: 45%
}

.register-form .submit_reset{
	margin: 10px auto;
	text-align: center;
}

.straat-huisnr{
	display: block;
}

.huisnr,
.straat {
	float: left;
	display: inline-block;
	margin-right: 3%;
}

.huisnr {
	width: 25%;
	margin-right: 0;
}

.straat {
	width: 72%
}

select,
input[type="password"],
input[type="number"],
input[type="text"],
input[type="date"]{
	display: block;
	margin: 0 0 10px;
	width: 100%;
}

select {
	margin-bottom: 12px;
}

.geslacht {
	display: block;
	margin-bottom: 15px;
	text-align: left;
}

.register-form .right-side .geslacht label{
	display: inline;
	text-align: left;
}

.error {
	text-align: left;
}

span{
	display:block;
	margin: 5px 0px;
	text-align: center;
}

.btn{
	margin: 0 20px 0 0;
}

.btn:last-of-type{
	margin: 0;
}

.error{
	display:block;
	color:red;
	margin: 5px 0px;
}

.errorMsg {
	background-color: red;
	width: 50%;
	position: absolute;
	top: 100px;
	left: 50%;
}
